/*GENERAL*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
}

.row > *{
    border: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


#section-1 > .row > .col-6 > *{
    background-color: green;
    border: 2px solid red;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1{
    margin-bottom: 30px;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#section-3 > .row {
    margin-bottom: 5px;
}


#section-4 > .row > .col-6 > *{
    background-color: green;
    border: 2px solid red;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-5 > .row > .col-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center{
    justify-content: center;
}

.flex-end{
    justify-content: end;
}


#section-6 > .row > .col-12 > * {
    background-color: green;
    border: 2px solid red;
    padding: 20px;
}

#section-6 .col-12-space-around{
    display: flex;
    justify-content: space-around;
}

#section-7 > .row > .col-12 > * {
    background-color: green;
    border: 2px solid red;
    padding: 20px;
}

.col-12-space-between{
    display: flex;
    justify-content: space-between;
}

#section-5 > .row > .height{
    height: 100%;
}

.col-6-little-top{
  height: 20px;
}

.col-6-little-middle{
    height: 20px;
    margin-top: 10px;
}

.col-6-little-bottom{
    height: 20px;
    margin-top: 20px;
}
