/*GENERAL*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row > *{
    border: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.col-offset-0{
    background-color: white;
}

#section-1 > .row > .col-6 > *{
    background-color: green;
    border: 2px solid red;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1{
    margin-bottom: 30px;
}

#section-3, #section-4 h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#section-3 > .row {
    margin-bottom: 5px;
}




